{
  "branches": [
    "release",
    { "name": "main", "prerelease": "alpha", "channel": "alpha" },
    { "name": "2.x", "channel": "latest" }
  ],
  "tagFormat": "v${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    "@semantic-release/github"
  ],
  "success": [],
  "fail": []
}
